//
   Created by TINO-DEV on 03/08/2016.
doctype html
html
    head
        link(rel="stylesheet", href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel="stylesheet", href='/css/styles.css')
        block title
            title We Perform, faites le show
    body
        block content